.home_page_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-image: url("/home_page_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


